{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>BOM generator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'frontend_home' %}">Order Processing System</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'create_design' %}">Create design</a></li>
            <li><a href="#">Designs</a></li>
            <li><a href="{% url 'view_parts' %}">Parts</a></li>
            <li><a href="#">Vendor</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="container-fluid">
        <br><br><br>
        {% block content %}{% endblock %}
        </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $(function() {
        $("li").click(function() {
            // remove classes from all
            $("li").removeClass("active");
            // add class to the one we clicked
            $(this).addClass("active");
        });
      });
    });
  </script>


</body>
</html>