{% extends "frontend/base.html" %}
{% load static %}
{% block content%}

<div class="col-sm-3">
  <div class="affix">
    <h2>Parts</h2>
    <br><br>
    <div class="row">
      <div class="col-sm-9">
        <input type="text" id="PartID" class="form-control" placeholder="Search for parts..">
      </div>
      <div class="col-sm-3">
        <button type="button" class=" btn btn-info" id="part_search">search</button>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-9" id='partlist'>
  <br>

</div>
<script type='text/javascript'>
  var auto = '{%url "api_part_detail" "xyz"%}';
  console.log(auto);
</script>
<script src = "{% static 'frontend/script_list_part.js'%}"></script>
{% endblock content %}