{% extends "frontend/base.html" %}
{% block content%}

<div class="col-sm-3">
  <div class="affix">
    <h2>Orders</h2>
    <br><br>
    <div class="row">
      <div class="col-sm-9">
        <input type="text" id="order_id" class="form-control" placeholder="Search for orders with customer or status..">
      </div>
      <div class="col-sm-3">
        <button type="button" class=" btn btn-info" id="order_search">search</button>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-9" id='orderlist'>
  <br>

</div>
<script>
        
    function order_print(element,json){
        console.log(json);
        var status = json.status;
        var panel;

        if(status=='Active'){
            panel = 'panel-success';
        }
        else if(status=='Scheduled'){
            panel = 'panel-info'
        }
        else if(status=='delayed'){
            panel = 'panel-warning'
        }
        else if(status=='Delivered'){
            panel = 'panel-success'
        }
        else if(status=='Shipped'){
            panel = 'panel-success'
        }
        else if(status=='Completed'){
            panel = 'panel-default'
        }
        else if(status=='Cancelled'){
            panel = 'panel-danger'
        }


        $(element).append(
            `
            <div class="panel `+panel+`">
                <a href ="`+base+`order_detail/`+json.orderID+`">
                    <div class="panel-body">
                        <div class='col-sm-3' style="text-align: center;">
                            Order Id
                            <h3>`+json.orderID+`</h3>
                        </div>
                        <div class="col-sm-3" style="text-align: center;">
                            Customer name
                            <h3>`+json.cus_name+`</h3>
                        </div>
                        <div class="col-sm-4" style="text-align: center;">
                            due on
                            <h3 class="text-overflow">`+json.due_date+`</h3>
                        </div>
                        <div class="col-sm-2" style="text-align: center;">
                            <div class='panel `+panel+`'>
                                <div class='panel-heading'>
                                    <h4>`+status+`</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
            `
        );
    }

    $(document).ready(function(){
        var nameList=[];
        var prevscroll_value = 0;


        var head = api_base+"orders/?limit=5&ordering=-placed&format=json";
        var next ;
        $.getJSON(head, function(json){
            console.log(json.next);
            next = json.next;
            $.each(json.results,function(key,val){
                //console.log(val.status);
                order_print('#orderlist',val);

            });
        });

        $('#order_search').on('click',function(){

            var keyword = $('#order_id').val();
            //console.log("http://localhost:8000/bon/parts/?search="+keyword+"&ordering=-made&limit=5&format=json");
            $('#orderlist').empty();
            head = api_base+"orders/?search="+keyword+"&limit=5&ordering=-placed&format=json";
            $.getJSON(head,function(json){
                //console.log(json);
                $.each(json.results,function(key,val){
                    next=json.next;
                    prevscroll_value=0;
                    order_print('#orderlist',val);
                });
            });

        });

        
        $(window).scroll(function(){
            scroll_value = Math.ceil(window.innerHeight+window.scrollY)
            if(scroll_value>=document.body.offsetHeight && prevscroll_value<scroll_value){
                if(next!=null || next!=head){
                    prevscroll_value = scroll_value;
                    $.getJSON(next, function(json){
                        next = json.next;
                        $.each(json.results,function(key,val){
                            order_print('#orderlist',val);
                        });
                    });
                }
            }

        });
    });
</script>
{% endblock content %}