{% extends "frontend/base.html" %}
{% block content%}

<div class="col-sm-3">
  <div class="affix">
    <h2>Designs/Modules</h2>
    <br><br>
    <div class="row">
      <div class="col-sm-9">
        <input type="text" id="designID" class="form-control" placeholder="Search for modules/designs..">
      </div>
      <div class="col-sm-3">
        <button type="button" class=" btn btn-info" id="module_search">search</button>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-9" id='modulelist'>
  <br>

</div>
<script>
        
    function display_module(data){

    $('#modulelist').append(
        `
        <div class="panel panel-default">
            <a href ="http://localhost:8000/module_detail/`+data.designID+`">
            <div class="panel-body vcenter" >
                <div class='col-sm-2'>
                <p style="padding: 0px; margin: 0px;">`+data.designID+`<p>
                <h2 style="padding: 0px; margin: 0px;">`+data.name+`</h2>
                </div>
                <div class="col-sm-2">
                <p style="padding: 0px;">description</p>
                <div>
                `+data.description+`
                </div>
                </div>
                <div class="col-sm-6">
                <div class="col-sm-4">
                    <p>Type</p>
                    <h3 style="padding: 0px; margin: 0px;">`+data.Type+`</h2>
                </div>
                <div class="col-sm-4">
                    <p>Made On:</p>
                    <h3 style="padding: 0px; margin: 0px;">`+data.made+`</h2>
                </div>
                <div class="col-sm-4">
                    <p>cost</p>
                    <h3 style="padding: 0px; margin: 0px;">₹`+data.Total_cost+`</h2>
                </div>
                </div>
                <div class='col-sm-2'>
                <p>
                    <img src="`+data.image+ `" class="img-thumbnail" alt="Cinque Terre"></a>
                </p>
                </div>
            </div>
            </a>
        </div>`
    )

    }

    $(document).ready(function(){
    var nameList=[];
    $.getJSON("http://localhost:8000/bon/modules_autocomplete/?format=json", function (json) {
        
        $.each(json, function(key, val) {
            var design_id = val.designID;
            nameList.push(design_id);
            });
    });
    $("#designID").autocomplete({source: nameList});

    $('#module_search').on('click',function(){

        var searchID = $('#designID').val();
        if(searchID.length==0){
            alert("Fill the search box first");
        }
        else if(nameList.indexOf(searchID)==-1){
            alert("No such module present");
        }
        else{
            window.location.replace("/part_detail/"+searchID);
        }

    });


    var head = "http://localhost:8000/bon/modules/?limit=5&format=json";
    var next ;
    $.getJSON(head, function(json){
        $.each(json.results,function(key,val){
            console.log(json.next);
            next = json.next;
            display_module(val);

        });
    });

    $(window).scroll(function(){
        if((window.innerHeight+window.scrollY)+1>=document.body.offsetHeight){
            if(next!=null || next!=head){
                $.getJSON(next, function(json){
                    next = json.next;
                    $.each(json.results,function(key,val){

                        display_module(val);

                    });
                });
            }

        }

    });
    });
</script>
{% endblock content %}